html,body{
    width:100%;
    height:100%;
    margin:0px;
}

body {
    background-color:#000;
    cursor:url('/18888.cur'),auto;
}

h1 {
    color:#fff;
}

video{
    object-fit:fill;
    width:100%;
    height:800px;
}

.bling{
    color:#fff;
    position:absolute;
}

.barrage{position: fixed;display: inline-block;width: 500px;z-index: 99999}
.barrage_box{padding-right: 8px; height: 40px;display: inline-block;border-radius: 25px;transition: all .3s;width:100%}
.barrage_box .portrait{ display: inline-block;margin-top: 4px; margin-left: 4px; width: 32px;height: 32px;border-radius: 50%;overflow: hidden;}
.barrage_box .portrait img{width: 100%;height: 100%;}
.barrage_box div.p p{ margin-right: 2px; font-size: 100px;color: #fff;line-height: 40px;margin-left: 18px;}
.barrage_box div.p a:hover{text-decoration: underline;}
.barrage .z {float: left !important;}
.barrage  a{text-decoration:none;}


.modal{
    position: fixed;
    top: 40%;
    left: 40%;
    z-index: 1050;
    background-color: #ffffff;
    border: 1px solid;
    width: 350px;
}

.modal-body{
    padding: 15px;
}
.modal-footer{
    text-align: center;
    margin-bottom: 10px;
}

.control-label{
    float: left;
}

.control-div{
    margin-left: 60px;
}

.danmu {
    position: fixed;
    display: inline-block;
    white-space: pre;
    pointer-events: none;
    font-weight: bold;
    color:rgb(255,255,255);
    font-size: 50px;
    font-family: 黑体;
    opacity: 0.75;
    text-shadow: rgb(0, 0, 0) 1px 1px 2px;
    animation: danmu 3s linear 0s 1;
    left: 0;
    visibility: hidden;
}

.opDanmu {
    position: fixed;
    display: inline-block;
    white-space: pre;
    pointer-events: none;
    font-weight: bold;
    color:rgb(255,255,255);
    font-size: 50px;
    font-family: 黑体;
    opacity: 0.75;
    text-shadow: rgb(0, 0, 0) 1px 1px 2px;
    animation: opDanmu 3s linear 0s 1;
    left: 0;
    visibility: hidden;
}

