body {
    background-color:#000;
    text-align:center;
    margin:0 auto;
    margin-left: 40%;
}

.danmuText {
    font-family: YouYuan;
    font-weight:900;
}

.paragraph {
    text-align:left;
    transform-origin:0 0;
}

.turnDiv{
    overflow-x: hidden;
    overflow-y: scroll;
}

.turnDiv::-webkit-scrollbar {
    display: none;
}

.divZoomOut{
    animation:divZoomOutIng 0.5s linear forwards 1;
}

@keyframes divZoomOutIng{
    from{
      transform:scale(1);
    }
    to{
      transform:scale(1.5);
    }
}


.leftRotate{
    animation:circling 1s linear forwards 1;
}

@keyframes circling{
    from{
      transform:rotate(0deg);
    }
    to{
      transform:rotate(-90deg);
    }
}

@-webkit-keyframes anticlockwiseRotate{
    to {
        transform:rotate(-90deg);
    }
}

.anticlockwise{
    -webkit-animation:anticlockwiseRotate 1s forwards 1;
}